h1{
    text-align: center;
}
.section{
    padding: 50px;
}
.but1{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 20px;
}
.but2{
    margin-left: 493px;
    margin-right: 493px;
    margin-top: 20px;
}
